{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}

{% set images = ['https://source.unsplash.com/collection/11439130?sig=134','https://source.unsplash.com/collection/11439130?sig=123','https://source.unsplash.com/collection/11439130?sig=165','https://source.unsplash.com/collection/11439130?sig=33'] %}

<div id="carouselExampleCaptions" class="carousel slide mt-2" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#slide1" data-slide-to="0"></li>
    <li data-target="#slide2" data-slide-to="1"></li>
    <li data-target="#slide3" data-slide-to="2"></li>
    <li data-target="#slide4" data-slide-to="3"></li>
    <li data-target="#slide5" data-slide-to="4"></li>
  </ol>


  <div class="carousel-inner">
    {% for post in posts %}
    <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" id="slide{{ loop.index }}">
      <div class="container" style="max-height: 500px;">
        <img src="{{ images[loop.index] }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-caption">
        <h3><a style="color: white;" href="posts/read_more/{{post.id}}">{{ post.title }}</a></h3>
        <p>By <a style="color: white;" href="{{ url_for('users.user_posts',username=post.author.username) }}">{{post.author.username}}</a> On {{ post.date_posted.strftime('%Y-%m-%d') }}</p>
        <div style="mix-blend-mode: difference;">
          <b><a href="posts/read_more/{{post.id}}">Read More</a></b><br><br>
        </div>
        <a class="btn btn-info" href="/posts">See More Posts</a><br>
        <small class="text-muted">*images may not be suitable to the topics</small>
      </div>
    </div>
    {% endfor %}
    <div class="carousel-item" id="slide4">
      <div class="container" style="max-height: 500px;">
        <img src="{{ images[0] }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-caption">
        <h3>See More Posts</h3>
        <a class="btn btn-info" href="/posts">See More Posts</a>
      </div>
    </div>

    <div class="carousel-item" id="slide4">
      <div class="container" style="max-height: 500px;">
        <img src="https://images.unsplash.com/photo-1518674660708-0e2c0473e68e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-caption">
        <h3>Sign Up Today and Start Writing Today</h3>
        <div class="btn-group">
          <a type="button" href="{{ url_for('posts.new_post') }}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> New Post</a>
          <a type="button" href="{{ url_for('users.register') }}" class="btn btn-info"><i class="fas fa-user-plus"></i> Sign Up</a>
          <a type="button" href="{{ url_for('users.login') }}" class="btn btn-success my-2 my-sm-0"><i class="fas fa-sign-in-alt"></i> Log In</a>
      </div>
      </div>
    </div>

    </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h1 class="border-bottom mt-3" style="font-weight: bolder;text-align: center;">
  <a style="color: white;" href="#" class="typewrite" data-period="2000" data-type='[ "Hey Welcome to ","ProRakAbd BLOGS", "Sign Up Today!","And","Start Writing Today !" ]'>
    <span class="wrap"></span>
  </a>
</h1>
<div style="text-align: center;">
  <a class="btn btn-info btn-sm" href="/posts">see all posts</a>
</div>
<script src="{{url_for('static',filename='js/type.js')}}"></script>

{% endblock %}

