{% extends 'base.html' %}

{% block head %}
<title>Hey!You just did login</title>
{% endblock %}

{% block body %}
<h1 style="text-align: center;">You logged in successfully</h1>
<br>
<p style="text-align: center;color: grey;"><a href="/admin_interface">Hey you could go to your admin page here</a></p>
<div style="text-align: center;margin: 20px;">
    <img src="../static/undraw_order_confirmed_aaw7.svg" width="300px" alt="" style="margin-bottom: 110px;margin-top: 20px;">
</div>
{% endblock %}


